{
  "train_data_path" : "/home/tianxiangchen1/semeval/data/train_split.csv",
  "val_data_path" : "/home/tianxiangchen1/semeval/data/test_split.csv",
  "test_data_path" : "/home/tianxiangchen1/semeval/data/devwithoutlabels.txt",
  "solution_path" : "/home/tianxiangchen1/semeval/submit/task_a/test.txt",
  "glove_dir" : "/home/tianxiangchen1/semeval/word_embedding/glove.twitter.27B.200d.txt",
  "num_folds" : 2,
  "num_classes" : 4,
  "max_nb_words" : 20000,
  "max_sequence_length" : 100,
  "embedding_dim" : 200,
  "batch_size" : 200,
  "lstm_dim" : 200,
  "learning_rate" : 0.002,
  "dropout" : 0.5,
  "num_epochs" : 11
}
